@{
    ViewData["Title"] = "Home Page";
}
@model List<Game>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    @foreach(var game in Model)
    {
        <tr>
            <td>@game.GameId</td>
            <td>@game.Name</td>
            <td>@game.Publisher.Name</td>
            <td>@game.Year</td>
            <td>@game.Genre.Name</td>
            <td><a asp-action="Detial">Detail</a></td>
            <td>@game.Available</td>
            <td>@game.Price</td>
            <td><a href=@game.StoreLink>Store Link</a>></td>
            <tr><td colspan=9><img src=@game.ImgLink alt="Img Link" width="400" height="400"/></td>></tr>
        </tr>
    }
</table>