@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Games List";
    string g = " ";
}
@model List<Game>
<form asp-action="ListGames" method="post">
    <label asp-for=@g>Search:</label><br/>
    <input asp-for=@g/> <button asp-action="ListGames">Search</button><br/>
    <table class="table table-bordered table-striped Centre">
        <thead>
            <tr>
                <th>Name</th>
                <th>Publisher</th>
                <th>Release Year</th>
                <th>Genre</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var game in Model)
            {
                <tr>
                    <td>@game.Name</td>
                    <td>@game.Publisher.Name</td>
                    <td>@game.Year</td>
                    <td>@game.Genre.Name</td>
                    <td><a asp-controller="Games" asp-action="Detail" asp-route-id="@game.GameId">Detail</a></td>
                </tr>
            }
            <tr>
                <td colspan=3><a asp-controller="Games" asp-action="AddGame">Add Game</a></td>
                <td colspan=2><a asp-controller="Games" asp-action="List">Go Back</a></td>
            </tr>
        </tbody>
    </table>
</form>